version: '3.5'

services:
  cyber-service:
    build: 
      context: ./service
    ports:
      - "8080:8080"
    depends_on:
      - mongodb_container
    environment:
      - DATABASE_CONNECTION_STRING=mongodb://root:rootpassword@mongodb_container:27017/scans_db?authSource=admin
      - DATABASE_NAME=scans_db
      - JWTSECRET=myownsecret
      - FLASK_ENV=development

  mongodb_container:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_container:/data/db


volumes:
  mongodb_data_container:



